@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&display=swap);

img{
	width: 100%;
}
div{
	margin: 0;
}
body{
	width: 100%;
	margin: 0;
	color: #000;
	font-family: 'Roboto',Arial,sans-serif;
 	background: #000;
}
.header{
	margin: 0;
	width: 100%;
	height: 1025px;
	background: #f3f6f9 url(img/headerbg.webp);
	background-repeat: no-repeat, no-repeat;
	background-position: bottom left 60px;
}

/* ----- Бургер меню ------ */

.burger-menu__button{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 30;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
}
.burger-menu__button:hover .burger-menu__lines{
	filter: brightness(0.7);
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
	position: absolute;
	width: 30px;
	height: 3px;
	background: #1500ff;
}
.burger-menu__lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.burger-menu__lines::before{
	content: '';
	top: -9px;
}
.burger-menu__lines::after{
	content: '';
	top: 9px;
}
.burger-menu_active .burger-menu__lines{
	background: transparent;
}
.burger-menu_active .burger-menu__lines::before{
	top: 0;
	transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after{
	top: 0;
	transform: rotate(-45deg);
}

/* ----- (Бургер меню) ------ */

/* ----- Меню ------ */

.burger-menu__nav{
	padding-top: 80px;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	height: 100%;
	background: #fff;
	overflow-y: auto;
	right: -100%;
	padding-left: 20px;
}
.burger-menu_active .burger-menu__nav{
	right: 0;
}
.burger-menu__link{
	padding: 10px;
	font-size: 24px;
	letter-spacing: 5px;
	color: #000	;
	text-overflow: uppercase;
	text-decoration: none;
}
.burger-menu__overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.burger-menu_active .burger-menu__overlay{
	display: block;
	background: rgba(0, 0, 0, .5);
}
#menu-fix{
	padding: 1px 0;
	position: fixed;
	width: 100%;
	background: rgba(243, 246, 249, 0);
	z-index: 100;
}
.menu-container{
	list-style: none;
	text-align: center;
	padding: 0;
}
.menu-container li{
	display: inline-block;
	margin: 0 15px;
}
.menu-container a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

/* ----- (Меню) ------ */

/* ----- Блок с адресом ------ */

.address{
	color: #000;
	font-size: 15px;
	font-weight: 400;
	text-align: right;
	margin-right: 170px;
}

/* ----- Контейнер для header ------ */

.container{
	width: 82%;
	margin-right: 0;
	margin-left: auto;
	padding-top: 40px;
}
.second-menu{
	display: flex;
	justify-content: space-between;
}

/* ----- Блок с логитопом ------ */

.connection{
	display: flex;
}
.logo{
	width: 300px;
	display: flex;
	text-align: center;
	color: #737373;
	font-size: 14px;
}
.logo img{
	width: 90px;
}
.logo__description img{
	width: 200px;
}

/* ----- Кнопками обратной связи ------ */

.links{
	display: flex;
	margin-right: 170px;
	padding-top: 20px;
}
.links img{
	width: 20px;
	position: absolute;
	left: 20px;
}
.links a{
	text-decoration: none;
	color: #000;
}
.button{
	border: solid 1px #737373;
	border-radius: 45px;
	padding: 8px 50px;
	position: relative;
}
.links__item{
	padding-left: 20px;
}

		/* ----- Кнопками оплаты ------ */

.links__payment a{
	color: #f5a526;
	font-size: 20px;
}
.links__payment .button{
	padding: 5px 20px 5px 40px;
}
.links__payment img{
	left: 15px;
}

		/* ----- Кнопками с телефонами ------ */

.links__phones__items{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
}

		/* ----- Ссылка на франшизу ------ */

.links__franchise{
	padding-top: 8px;
}

/* ----- Основная часть header ------ */

.header-body{
	width: 1200px;
	height: 820px;
	background-image: url(img/bg-hero.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-right: 200px;
}
.header-body__container{
	width: 500px;
}
.header-body h1{
	margin: 0;
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 600;
}
.header-body__block{
	display: flex;
	width: 400px;
}
.header-body__block p{
	padding-top: 20px;
}
.header-body__block img{
	width: 120px;
}

		/* ----- Кнопка ------ */

.button-shadow{
	border: solid 1px #f5a526;
	border-radius: 45px;
	background: #f5a526;
	padding: 15px 20px;
	text-align: center;
	box-shadow: 2px 4px 0px 0px rgba(198,127,14,1);
}
.button-shadow a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
.header-body__button{
	width: 300px;
	margin-top: -10px;
}
.header-body__button:hover{
	box-shadow: 0 0 20px 0 rgba(255,255,255,.3) inset, 
	2px 4px 30px 0 rgba(198,127,14,1), 
	2px 4px 0px 0px rgba(198,127,14,1);
}


/* ----- ------------------------------------------------------ ------ */


/* ----- Раздел ЗАЧЕМ ------ */

.section-one{
	background: #fff;
}
.section-one__container{
	display: flex;
	width: 90%;
	margin-right: 0;
	margin-left: auto;
	height: 650px;
	background: url(img/bg-notebook.png);
	background-repeat: no-repeat;
	background-position: bottom 30px right 60px;
	position: relative;
}

.nav-left{
	display: flex;
	flex-direction: column;
}
.description{
	width: 500px;
	padding-top: 150px;
}
.description h2{
	margin: 0;
	font-size: 37px;
	font-weight: 600;
	text-transform: uppercase;
}
.description p{
	width: 350px;
}
.question{
	padding-top: 10px;
	font-size: 16px;
	font-weight: 600;
}
.arrow{
	position: relative;
}
.arrow img{
	width: 330px;
	position: absolute;
	top: 40px;
	right: -130px;
}


.what-for{
	width: 600px;
	margin-left: 120px;
	margin-top: 70px;
}
.what-for__title{
	color: #e6eaee;
	font-size: 180px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.12em;
}
.what-for ul{
	width: 350px;
	margin-left: 70px;
	margin-top: 0;
	font-size: 14px;
	font-weight: 400;
	list-style: none;
}
.what-for li{
	padding-bottom: 25px;
	line-height: 1.55;
}
.what-for li div{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #f5a526;
	border-radius: 50%;
	margin-right: 10px;
	margin-left: -25px;
}


.rocket{
	width: 243px;
	height: 237px;
	background-color: #3399fe;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	right: -30px;
	top: 250px;
}
.rocket img{
	width: 70px;
	margin-top: 70px;
}

/* ----- --------------------------------------------- ------ */


/* ----- Часть курсы ------ */

.section-two{
	background: #f3f6f9;
	padding-top: 0;
	height: 1000px;
}
.menu-age{
	padding-top: 50px;
	text-align: center;
}
.menu-age .active{
	background: #3399fe;
}
.section-two ul{
	list-style: none;
	margin-top: 0;
	padding: 0px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	display: inline-block;
	margin: 0;
}
.section-two li{
	display: inline-block;
	color: #ff8562;
	padding: 30px 31px;
	font-size: 22px;
	border-left: 1px solid #d7d7d7;
}
.section-two li:nth-child(1){
	border-left: 0px solid #d7d7d7;
}


.section-two__container{
	position: relative;
}
.layer-one{
	width: 780px;
	height: 500px;
	border-radius: 10px;
	background: #fff;
	margin: 50px 29% 50px auto;
	box-shadow: -3px 3px 30px 0 rgba(0,0,0,.02);
	position: relative;
}
.layer-two{
	width: 520px;
	height: 510px;
	border-radius: 5px 5px 10px 10px ;
	background: #fff;
	position: absolute;
	top: 20px;
	left: 40px;
	box-shadow: 0px 0px 30px 0 rgba(0,0,0,.04);
}
#layer-tree{
	width: 435px;
	height: 495px;
	border-radius: 5px 5px 10px 10px ;
	background: #fff;
	position: absolute;
	top: 20px;
	left: 90px;
	padding-left: 40px;
	padding-top: 50px;
}
h3{
	font-size: 35px;
	text-transform: uppercase;
	margin: 0;
}
#layer-tree .p-bold{
	margin-top: -3px;
}
#layer-tree p:nth-child(3){
	margin: 25px 0;
	width: 320px;
}
#layer-tree p:nth-child(4){
	width: 100%;
	padding: 25px 0;
	border-top: solid 1px #d7d7d7;
	border-bottom: solid 1px #d7d7d7;
}
#layer-tree a{
	color: #ff8562;
	text-decoration: none;
	border-bottom: 1px solid #f4a019;
}
#layer-tree a:hover{
	font-weight: 600;
}
#layer-tree a img{
	width: 18px;
	padding-top: 15px;
	margin-right: 15px;
}
.layer-tree__button img{
	width: 18px;
	position: absolute;
	left: 15px;
}
.layer-tree__button{
	margin-top: 50px;
	border-color: #3399fe;
	color: #3399fe;
	width: 228px;
	padding-right: 15px;
	padding-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bookmark{
	background: #f5a526;
	width: 80px;
	height: 140px;
	position: absolute;
	top: -13px;
	right: 60px;
	z-index: 12;
}
.bookmark img{
	display: block;
	width: 60px;
	margin: 30px auto;
}
.bookmark__deg-white{
	background: #fff;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0px;
	right: 20px;
	z-index: 11;
}
.bookmark__deg{
	background: #cc891d;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -4px;
	right: 40px;
	transform: rotate(45deg);
	z-index: 10;
}
.notebook{
	width: 700px;
	position: absolute;
	top: 240px;
	right: -260px;
	z-index: 11;
}


		/* ----- Кнопки слайдера ------ */

.slider-button-l{
	position: absolute;
	top: 200px;
	left: 170px;
}
.slider-button-r{
	position: absolute;
	top: 200px;
	right: 170px;
}
.button-left{
	width: 60px;
	height: 60px;
	border: 1px solid #000;
	border-radius: 50%;
	background: url(img/sliderarrow.png) no-repeat 19px 17px;
}
.button-right{
	width: 60px;
	height: 60px;
	border: 1px solid #000;
	border-radius: 50%;
	transform: rotate(180deg);
	background: url(img/sliderarrow.png) no-repeat 19px 17px;
}

/* ----- ---------------------------------- ------ */


/* ----- Блок: преимущества обучения ------ */

.section-advantage{
	background: #f3f6f9;
	padding-top: 0;
	height: 600px;
}
.section-advantage h3{
	text-align: center;
	margin-bottom: 30px;
}
.row, .row__item{
	display: flex;
}
.row{
	justify-content: center;
	margin-top: 70px;
}
.row__item{
	margin: 10px 5px;
}
.row__icon{
	width: 100px;
	height: 100px;
	border: 1px solid #3399fe;
	text-align: center;
	border-radius: 50%;
	position: relative;
	margin: 0 40px;
}
.row__icon img{
	width: 41px; 
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}
.row__text{
	width: 217px;
	font-size: 14px;
	font-weight: 400;
	margin: auto 0;
}



/* ----- ------------------------------------ ------ */

/* ----- Форма ------ */

.section-form{
	height: 800px;
	background: url(img/student.webp) no-repeat;
	background-size: 100%;
}









/* ----- Адаптивность ------ */

@media only screen and (min-width: 2560px){

}

@media only screen and (min-width: 1440px){

}

@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 992px) and (max-width: 1199px){

}

@media only screen and (min-width: 992px){
	.menu-fix{
		display: block;
	}
	.burger-menu{
		display: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){

}

@media only screen and (max-width: 991px) {
	.menu-fix, .menu-container, .menu-container li{
		display: none;
	}
	.burger-menu{
		display: block;
	}
}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 480px){

}

/* ----- (Адаптивность) ------ */
